In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from lib.reduce_mem_usage import reduce_mem_usage
from lib.petites import dd

In [6]:
path_metadata = "./buds/data/metadata/"
path_weather = "./buds/data/weather/"
path_meter_raw = "./buds/data/meters/raw/"
path_meter_cleaned = "./buds/data/meters/cleaned/"
path_meter_proc = "./buds/data/meters/processed/"

In [10]:
# Buildings metadata
metadata = pd.read_csv(path_metadata + "metadata.csv", usecols = ["building_id", "site_id", "primaryspaceusage", "sub_primaryspaceusage", "sqm", "numberoffloors", "occupants", "site_eui", "source_eui", "energystarscore"])

metadata = reduce_mem_usage(metadata)
metadata.info()

Mem. usage decreased to  0.10 Mb (20.0% reduction)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1636 entries, 0 to 1635
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   building_id            1636 non-null   object
 1   site_id                1636 non-null   object
 2   primaryspaceusage      1615 non-null   object
 3   sub_primaryspaceusage  1615 non-null   object
 4   sqm                    1636 non-null   float32
 5   numberoffloors         441 non-null    float16
 6   occupants              230 non-null    float16
 7   energystarscore        163 non-null    object
 8   site_eui               163 non-null    object
 9   source_eui             163 non-null    object
dtypes: float16(2), float32(1), object(7)
memory usage: 102.4+ KB

In [11]:
path = './buds/data/weather/'
weather = pd.read_csv(path + "weather.csv")
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331166 entries, 0 to 331165
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   timestamp       331166 non-null  object
 1   site_id         331166 non-null  object
 2   airTemperature  331038 non-null  float64
 3   cloudCoverage   160179 non-null  float64
 4   dewTemperature  330838 non-null  float64
 5   precipDepth1HR  197980 non-null  float64
 6   precipDepth6HR  18162 non-null   float64
 7   seaLvlPressure  309542 non-null  float64
 8   windDirection   318161 non-null  float64
 9   windSpeed       330592 non-null  float64
dtypes: float64(8), object(2)
memory usage: 25.3+ MB

In [14]:
# Convert air Temperature to daily means for CDD/HDD calculation and arrange by location.
weather.set_index(

0         Panther
1         Panther
2         Panther
3         Panther
4         Panther
           ...
331161      Mouse
331162      Mouse
331163      Mouse
331164      Mouse
331165      Mouse
Name: site_id, Length: 331166, dtype: object